<footer>
	<div class="container">
 		 <div class="row">
			<div class="col-md-4">
				<h4></h4>
				<div class = "company"><a href = "/"><span>Soportes Steel </span></a><span class = "copyright-year"> 2013</span></div>
				<a href="#">Politica de privacidad</a>
			</div>
			<div class="col-md-4">
				<h4>Redes</h4>
				<section class = "section">
					<div class="social-share fb">
						<span class="fb-inner"></span>
						<a class="cta fb" href="https://www.facebook.com/Sop.Steel">Like</a>
					</div>
					<div class="social-share tw">
						<span class="tw-inner"></span>
						<a class="cta tw" href="https://twitter.com/SoportesSteel">Tweet</a>
					</div>
				</section>
			</div>
			<div class="col-md-4">
				<h4>CONTÁCTANOS</h4>
				<div class = "phone">
					<span>(55) 6715-1542, 6715-0586</span>  
				</div>
			</div>
			<div class = "class="container-fluid"">
				<div class = "col-full2">
					<div class = "name">No contamos con sucursales. Porque nosotros vamos hasta donde estés.</div>
				</div>
			</div>
		</div>
	</div>
</footer>